:root {
    --header-blue: #0044ff;
    --button-blue: #4072cf;
    --button-gray: #bec3c7;
    --card-blue: #313d64;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
}

header {
    background: rgb(13,1,97);
    background: linear-gradient(90deg, rgba(13,1,97,1) 0%, rgba(11,86,199,1) 41%, rgba(0,199,240,1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

aside {
    display: flex;
    flex-direction: column;
    float: left;
    padding-right: 1%;
    margin-right: 1%;
    height: auto;
}

#search-box {
    margin-bottom: 8%;
}

#search-button {
    width: 175px;
    display: inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 35%;
    padding-right: 35%;
    background-color: var(--button-blue);
    border: solid 3px var(--button-blue);
    border-radius: 4px;
    color: white;
}

#search-button:hover {
    border-color: #4ea1ff;
}

.btn {
    width: 175px;
    display: inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 35%;
    padding-right: 35%;
    background-color: var(--button-gray);
    border: solid 3px var(--button-gray);
    border-radius: 4px;
    color: black;
}

.btn:hover {
    border-color: #cddfff;
}

.history {
    margin-top: 8%;
}

#forecast-body {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.data {
    line-height: 20px;
}

#selected-city {
    display: flex;
    flex-direction: column;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid black;
}

#city-header-bar {
    display: inline-flex;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 4%;
    padding-bottom: 2%;
    background-color: var(--card-blue);
    color: white;
    margin-right: 2%;

}